.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh; /* O vídeo cobre toda a altura da janela */
    overflow: hidden; /* Isso impede o conteúdo de transbordar */
}

.background-video {
    width: 100%; /* Aumente ligeiramente para evitar bordas */
    height: 100%; /* Aumente ligeiramente para evitar bordas */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.1s ease-out;
}
